body {
    text-align: center;
    background-image: url('poe ima img aq fml.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header,
nav,
section {
    margin: 0 auto;
    max-width: 900px;
    text-align: left;
}

.item-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.item img {
    transition: transform 0.3s;
}

.item:hover img {
    transform: scale(1.1);
    cursor: pointer;
}


body {
    font-family: "EB Garamond", serif;
}

h1,
h2,
h3 {
    font-family: "EB Garamond", serif;
}

#logo {
    width: 250px;
    position: absolute;
    top: 10px;
    left: 10px;

}

.icones {
    position: fixed;
    bottom: 20px;

    right: 20px;
}

.icones a {
    display: inline-block;
    margin-left: 10px;

}

.icones img {
    width: 40px;

    height: auto;
}